/* ===============DARK-MODE=============== */
body.dark-mode {
    background-color: #282828;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .sol {
    display: none;
    transition: 500ms;

}

.dark-mode .lua {
    display: block;
    transition: 500ms;
}

.dark-mode .menu-esquerdo ul li a {
    color: #109874;
    font-weight: 500;
    text-decoration: none;
    transition: 300ms;
}

.dark-mode .menu-esquerdo ul li a:hover {
    color: #48ecc0;
    text-decoration: none;
    transition: 300ms;
}

.dark-mode .menu-direito ul li a {
    color: #109874;
    font-weight: 500;
    text-decoration: none;
    transition: 300ms;
}

.dark-mode .menu-direito ul li a:hover {
    color: #48ecc0;
    text-decoration: none;
    transition: 300ms;
}

.dark-mode .separador {
    width: 1px;
    background-color: #109874;
    height: 47px;
    margin-right: 20px;
}

.dark-mode .logo-historias-nav {
    background-image: url('../Imagens/img-historias-logo-verde.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 300ms;
}

.dark-mode .logo-historias-nav:hover {
    background-image: url('../Imagens/img-historias-logo-branco.svg');
    transition: 300ms;
}

.dark-mode .destaque {
    background-color: rgb(14, 14, 14);
}

.dark-mode h1 {
    color: #109874;
}

.dark-mode p {
    color: #48ecc0;
}

.dark-mode .button-saiba-mais {
    border: 1px solid #109874;
    color: #48ecc0;
    transition: 400ms;
}

.dark-mode .box-text {
    background-color: rgb(14, 14, 14);
}

.dark-mode .footer {
    background-color: rgb(14, 14, 14);
}

.dark-mode .footer-info h1 a {
    color: #109874;
}

.dark-mode .footer-info p a {
    color: rgb(134, 132, 132);
    transition: 300ms;
    text-decoration: none;
}

.dark-mode .footer-info p a:hover {
    color: #48ecc0;
    transition: 300ms;
}

.dark-mode .contatos {
    height: 200px;
    background-color: rgb(14, 14, 14);
}

.dark-mode .contatos ul li a {
    color: #109874;
    font-weight: 400;
    text-decoration: none;
    transition: 300ms;
}

.dark-mode .contatos ul li a:hover {
    color: #48ecc0;
    text-decoration: none;
    transition: 300ms;
}



.dark-mode #last-li a {
    border: none;
}




.dark-mode .footer-acordeon {
    background-color: rgb(14, 14, 14);
    color: white;
}

.dark-mode #flush-collapseOne {
    background-color: #282828;
}

.dark-mode #flush-collapseTwo {
    background-color: #282828;
}

.dark-mode #flush-collapseThree {
    background-color: #282828;
}

.dark-mode #flush-collapseFour {
    background-color: #282828;
}

.dark-mode #flush-collapseFive {
    background-color: #282828;
}



/* ------------------------------------------------------- */
.dark-mode .accordion-button {
    background-color: black;
}

.dark-mode .accordion-body{
    background-color: #282828;
}

.dark-mode .accordion-body p a {
    text-decoration: none;
    padding: 20px;
    color: #63b59f;
    font-size: 1.6rem;
    cursor: pointer;

}