/* ========================INICIO RESPONSIVIDADE======================== */


@media screen and (max-width:1280px) {

    /* Inicio Barra de navegação */
    .cabecalho {
        width: 100%;
    }

    /* Fim barra de navegação */

    /* Conteudo da pagina */

    .banner {
        width: 100%;
        height: 380px;
        background-image: url('../Imagens/img_banner_1657816974_desktop.jpg');
        background-position: center center;
        background-size: cover;
        margin-bottom: 30px;
    }

    .destaque {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    /* ==========Início rodapé========== */

    footer {
        width: 1280px;
    }

    .footer {
        width: 256px;
    }

    .main-footer {
        display: flex;
        flex-direction: row;
        box-shadow: 0px -19px 17px -22px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0px -19px 17px -22px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px -19px 17px -22px rgba(0, 0, 0, 0.35);
    }

    .footer {
        display: flex;
        flex-direction: row;
        width: 288px;
        background-color: #ffffff;

    }


    .footer-info {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        padding-left: 25px;
    }


    .contatos {
        height: fit-content;
    }

    .redes-sociais {
        padding-top: 30px;
    }

    .redes-sociais img {
        width: 32px;
        margin-left: 14px;
    }

    .redes-sociais img:hover {
        transform: scale(1.2);
        transition: 200ms;
    }

    .redes-sociais ul {
        display: flex;
    }

    .politicas {
        width: max-content;
        height: 50px;
        padding-top: 30px;
    }

    .politicas ul {
        display: flex;
        flex-direction: row;
        width: max-content;
    }

    .politicas ul li a {
        color: #716d6d8f;
        text-decoration: none;
        width: max-content;
        font-size: 1.5rem;
        font-weight: 400;
        padding-right: 20px;
        padding-left: 14px;
        border-right: 1px solid rgb(46, 46, 46);
    }

    .politicas ul li a:hover {
        color: rgb(150, 128, 128);
    }

    #last-li a {
        border: none;
    }





}






@media screen and (max-width:884px) {

    /* Inicio Barra de navegação */


    .cabecalho {
        width: 884px;
    }

    /* Fim barra de navegação */

    /* Conteudo da pagina */


    .banner {
        width: 884px;
        background-image: url('../Imagens/banner_1657816974_mobile.jpg');
        background-position: bottom;
        background-size: cover;
        margin-bottom: 30px;
    }

    .destaque {
        width: 884px;
    }

    .content {
        width: 884px;
    }

    #image-1 {
        background-image: url('../Imagens/768-15170_SBUX_REW_BANNERS3MAIO-02.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #image-2 {
        background-image: url('../Imagens/768-guatemala.jpg');
        background-position: center;
        background-size: cover;
    }

    #image-3 {
        background-image: url('../Imagens/768-team.jpg');
        background-position: initial;
        background-size: cover;
    }

    /* ==========Início rodapé========== */

    footer {
        width: 884px;
        height: max-content;
    }

    .footer {
        width: 256.8px;
        height: max-content;
    }

}


@media screen and (max-width:768px) {



    .menu-navegacao {
        display: none;
    }

    #checkbox {
        display: none;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
        position: absolute;
        top: 4;
        left:24;
        z-index: 10;
    }

    .bars {
        width: 100%;
        height: 4px;
        background-color: #1e3932;
        border-radius: 4px;
    }

    #bar2 {
        transition-duration: .8s;
    }

    #bar1,
    #bar3 {
        width: 70%;
    }

    #checkbox:checked+.toggle .bars {
        position: absolute;
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
    }


    .cabecalho {
        width: 768px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-inline: 40px;
    }









    .menu-esquerdo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-nav {
        width: 100px;
        height: 91px;
        margin: 40;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-menu-esquerdo {
        width: 51px;
        height: 91px;
    }

    .menu-esquerdo ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-esquerdo ul li {
        font-size: 1.6rem;
        font-weight: 700px;
        margin-right: 40px;
    }

    a {
        color: #1e3932;
        text-decoration: none;
    }

    .menu-direito {
        display: flex;
        align-items: center;
    }

    .menu-direito ul {
        display: flex;
        align-items: center;
        align-items: center;
    }

    #logo-historias {
        width: 120px;
        height: 47px;
    }

    .menu-direito li {
        font-size: 1.6rem;
        font-weight: 700px;
        margin-right: 40px;
    }

    .separador {
        width: 1px;
        background-color: #1e3932;
        height: 47px;
        margin-right: 20px;
    }

    #brn-tema {
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
    }

    /* Fim barra de navegação */


    /* Conteudo da pagina */

    .banner {
        width: 768px;
        height: 448px;
        background-image: url('../Imagens/banner_1657816974_mobile.jpg');
        background-size: contain;
        margin-bottom: 30px;
    }

    .destaque {
        width: 768px;
    }

    .content {
        width: 768px;
        height: max-content;
        display: flex;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 600px;
        display: flex;
        display: flex;
        flex-direction: column;
    }

    .box-text {
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #D4E9E2;
    }

    .box-text h1 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .box-text p {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 40px;
        text-align: center;
        margin-inline: 80px;
        line-height: 1.8em;
    }

    .box-text p span {
        font-weight: 700;
    }

    .box-image {
        width: 100%;
    }

    #image-1 {
        background-image: url('../Imagens/768-15170_SBUX_REW_BANNERS3MAIO-02.png');
        background-position: bottom;
        background-size: cover;
    }

    #image-2 {
        background-image: url('../Imagens/768-guatemala.jpg');
        background-position: bottom;
        background-size: cover;
    }

    #image-3 {
        background-image: url('../Imagens/768-team.jpg');
        background-position: center;
        background-size: cover;
    }

    #bloco-mid {
        display: flex;
        flex-direction: column-reverse;
    }

    #bloco-top {
        display: flex;
        flex-direction: column-reverse;
    }

    #bloco-bot {
        display: flex;
        flex-direction: column-reverse;
    }


    /* ==========Início rodapé========== */
    .footer-acordeon {
        display: block;
    }

    footer {
        width: 100%;
        display: none;

    }

    .contatos {
        height: 400px;
        background-color: white;
    }

    .redes-sociais {
        padding-top: 30px;
    }

    .redes-sociais img {
        margin-left: 14px;
    }

    .redes-sociais img:hover {
        transform: scale(1.2);
        transition: 200ms;
    }

    .redes-sociais ul {
        display: flex;
        margin: 0;
    }

    .politicas {
        padding-top: 30px;
    }

    .politicas ul {
        display: flex;
        flex-direction: column;
    }

    .politicas ul li {
        padding: 0px 8px 20px 4px;

    }

    .politicas ul li a {
        font-size: 1.5rem;
        font-weight: 400;
        padding: 8px;
        border: none;
    }

    .politicas ul li a:hover {
        color: rgb(150, 128, 128);
    }

    #last-li {
        border: none;
    }

    .footer-acordeon {
        box-shadow: 0px -19px 17px -22px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0px -19px 17px -22px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px -19px 17px -22px rgba(0, 0, 0, 0.35);
    }

    .accordion-flush>.accordion-item>.accordion-header .accordion-button,
    .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        color: #1e3932;
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);

    }






    .accordion-body {
        background-color: rgb(255, 249, 249);
    }

    .accordion-body p a {
        text-decoration: none;
        padding: 20px;
        color: #1e3932;
        font-size: 1.6rem;
        cursor: pointer;

    }





}






@media screen and (max-width:430px) {

    .cabecalho {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-inline: 40px;
    }


    .toggle {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .menu-esquerdo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-nav {
        width: 100px;
        height: 91px;
        margin: 40;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-menu-esquerdo {
        width: 51px;
        height: 91px;
    }

    .menu-esquerdo ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-esquerdo ul li {
        font-size: 1.6rem;
        font-weight: 700px;
        margin-right: 40px;
    }

    a {
        color: #1e3932;
        text-decoration: none;
    }

    .menu-direito {
        display: flex;
        align-items: center;
    }

    .menu-direito ul {
        display: flex;
        align-items: center;
        align-items: center;
    }

    #logo-historias {
        width: 120px;
        height: 47px;
    }

    .menu-direito li {
        font-size: 1.6rem;
        font-weight: 700px;
        margin-right: 40px;
    }

    .separador {
        width: 1px;
        background-color: #1e3932;
        height: 47px;
        margin-right: 20px;
    }

    #brn-tema {
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
    }

    /* Fim barra de navegação */


    /* Conteudo da pagina */

    .banner {
        width: 100%;
        height: 250px;
        background-image: url('../Imagens/428-banner_1657816974_mobile\ \(1\).jpg');
        background-size: cover;
    }

    .destaque {
        width: 100%;
    }

    .content {
        width: 100%;
        height: max-content;
        display: flex;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 600px;
        display: flex;
        display: flex;
        flex-direction: column;
    }

    .box-text {
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #D4E9E2;
    }

    .box-text h1 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .box-text p {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 40px;
        text-align: center;
        margin-inline: 80px;
        line-height: 1.8em;
    }

    .box-text p span {
        font-weight: 700;
    }

    .box-image {
        width: 100%;
    }

    #image-1 {
        background-image: url('../Imagens/428-15170_SBUX_REW_BANNERS3MAIO-02.png');
        background-position: bottom;
        background-size: cover;
    }

    #image-2 {
        background-image: url('../Imagens/428-guatemala.jpg');
        background-position: bottom;
        background-size: cover;
    }

    #image-3 {
        background-image: url('../Imagens/428-team.jpg');
        background-position: center;
        background-size: cover;
    }

    #bloco-mid {
        display: flex;
        flex-direction: column-reverse;
    }

    #bloco-top {
        display: flex;
        flex-direction: column-reverse;
    }

    #bloco-bot {
        display: flex;
        flex-direction: column-reverse;
    }


    /* ==========Início rodapé========== */



}

@media screen and (max-width:430px) {

    .banner {
        width: 100%;
        height: 250px;
        background-image: url('../Imagens/360-banner_1657816974_mobile\ \(1\).jpg');
        background-size: cover;
    }

    #image-1 {
        background-image: url('../Imagens/36015170_SBUX_REW_BANNERS3MAIO-02.png');
        background-position: center center;
        background-size: cover;
    }

    #image-2 {
        background-image: url('../Imagens/360-guatemala.jpg');
        background-position: bottom;
        background-size: cover;
    }

    #image-3 {
        background-image: url('../Imagens/360-team.jpg');
        background-position: left;
        background-size: cover;
    }
}